#Directories
**/bin/
bin-int/
**/LegacyEngine/Vendor/Glfw/
**/LegacyEngine/Vendor/Vulkan/

#Files
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

#File Extensions
**.html
**.lib
**.dll
**.a
